
.title-names-header {
    position: absolute;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    background-color: rgb(255, 253, 147);
    box-shadow: 0px 0px 8px 8px rgb(0 0 0 / 15%);
    width: 35vw;
    border-radius: 0px 0px 6vw 6vw;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 auto;
    margin: 0 auto;
    top: 0vw;
}

.menu-wrapper-names-header {
    text-align: center;
    transition: max-height 0.5s;
    max-height: 0;
    overflow: hidden;
    line-height: 3vw;
}

.title-names-header:hover .menu-wrapper-names-header {
    max-height: 20vw;
}

.menu-wrapper-names-header li {
    list-style-type: none;
}

.menu-wrapper-names-header a {
    text-decoration: none;
    color: rgb(218, 98, 12);
    font-family: 'Lobster';
    font-size: 1.5vw;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    visibility: visible;
}

.option-decor {
    color: firebrick;
    visibility: hidden;
}

.option-decor:hover {
    visibility: visible;
}

.title-names-header p {
    margin: 0;
    margin-bottom: 2vh;
    padding: 0;
    font-family: 'Lobster';
    font-size: 4vw;
    color: #d9a74a;
}

.menu-title {
    font-size: 2.5vw;
    position: relative;
    top: 1vw;
    height: 5vw;
}

@keyframes header-slide {
    50% { max-height: 50vw; }
    100% { max-height: 0vw; }
}
