
.title-names-header {
    position: relative;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    background-color: var(--backgroundColor);
    box-shadow: 0px 0px 8px 8px rgb(0 0 0 / 15%);
    width: 27vw;
    border-radius: 0px 0px 6vw 6vw;
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
    top: 0vw;
}

.menu-wrapper-names-header {
    text-align: center;
    transition: max-height 0.5s;
    max-height: 0;
    overflow: hidden;
    line-height: 3vw;
}

.title-names-header:hover .menu-wrapper-names-header {
    max-height: 30vw;
}

.menu-wrapper-names-header li {
    list-style-type: none;
}

.menu-wrapper-names-header a {
    text-decoration: none;
    color: var(--invitationHeaderColor);
    font-family: var(--fontFamily);
    font-size: 2vw;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    visibility: visible;
}

.option-decor {
    color: firebrick;
    visibility: hidden;
}

.option-decor:hover {
    visibility: visible;
}

.names-in-header {
    margin: 0;
    margin-bottom: 2vh;
    padding: 0;
    font-family: var(--fontFamily);
    font-size: 4vw;
    color: var(--borderColor);
}

.menu-title {
    font-size: 2.5vw;
    position: relative;
    top: 1vw;
    font-size: 4vw;
    font-family: var(--fontFamily);
    color: var(--borderColor);
    
    margin-bottom: 3vh;
}

@keyframes header-slide {
    50% { max-height: 50vw; }
    100% { max-height: 0vw; }
}
