
.count-down-timer {
  background-color: var(--backgroundColor);
  box-shadow: 0px 0px 8px 8px rgb(0 0 0 / 15%);
  text-align: center;
  width: 88vw;
  height: 42vh;
  margin: 0 auto;
  color: var(--borderColor);
  border-radius: 6px 6px 0px 0px;
  padding: 0 auto;
  font-family: var(--fontFamily);
  font-size: 3vh;
  word-spacing: 0.5vh;
  position: fixed;
  left: 0;
  right: 0;
}

.count-down-timer > p {
  margin: 0;
}

.wrapper .times .description {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 1vh));
  grid-column-gap: 0.5vh;
  margin-left: 2.5vh;
}

.times {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 1vh));
  grid-column-gap: 0.5vh;
  margin-left: 2.5vh;
}

.description {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 1vh));
  grid-column-gap: 0.5vh;
  margin-left: 2.5vh;
}

.description > p {
  margin-bottom: 2vh;
  font: normal 3vh var(--fontFamily);
  margin: 0;
  margin-bottom: 1vh;
}

.times p ::ng-deep img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8vh;
  display: block;
  height: 30px;
}

.times p {
  letter-spacing: 0;
  position: relative;
  margin: -1.5vh;
  font: normal 6vh var(--fontFamily);
}

@media screen and (max-width: 8vh) {
.count-down-timer {
  margin: 20px;
}
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14vh;
  height: 17vh;
  -webkit-text-stroke-width: 0.1vh;
  -webkit-text-stroke-color: black;
}

#slide-countdown {
  bottom: -35vh;
  -webkit-animation: slide-countdown 5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide-countdown 5s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes slide-countdown {
  100% { bottom: 0; }
}

@keyframes slide-countdown {
  100% { bottom: 0; }
}
