
<div class="count-down-timer" id="slide-countdown">
  <p id="weddingDate" style="margin-top: 1vh;">Lásku si sľúbime </p>
  <div class="wrapper">
    <div class="times">
      <p id="monthsLeft"></p>
      <p id="daysLeft"></p>
      <p id="hoursLeft"></p>
      <p id="minutesLeft"></p>
      <p id="secondsLeft"></p>
    </div>
    <div class="description">
      <p id="monthsLeftDescription"></p>
      <p id="daysLeftDescription"></p>
      <p id="hoursLeftDescription"></p>
      <p id="minutesLeftDescription"></p>
      <p id="secondsLeftDescription"></p>
    </div>
    <div class="icon">
      <i class="fa fa-heart" aria-hidden="true" style="position: absolute;"></i>
      <div id="srdiecko" style="position: absolute; font-size: 2vh; color: rgb(255, 253, 147); -webkit-text-stroke-width: 0.02vh;">D+M<br> = <br>VL</div>
    </div>
  </div>
</div>