
.frame-invitation-header {
    font-family: var(--fontFamily);
    -webkit-text-stroke-color: black;
    line-height: 2vw;
    position: fixed;
    top: 45%; 
    left: 0;
    width: 100%;
    height: auto; 
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
}

.frame-invitation-header p {
    margin: 0;
    padding: 0;
}

.frame-invitation-header a {
    text-decoration: none;
}

.wrapper-invitation-header {
    font-size: 4vw;
    color: var(--invitationHeaderColor);
    -webkit-text-stroke-width: 0.5px;
    position: relative;
}

.details-invitation-header {
    font-size: 1vw; 
    color: var(--invitationHeaderColor);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    transition: color 0.3s;
    position: absolute;
    margin-top: 3vh;
    right: 0;
  }

  .details-invitation-header:hover {
    color: var(--detailsOrHomeHoverColor);
  }