
<style>
    .home-button {
    position: fixed; 
    left: 8vw; 
    top: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-family: 'Lobster';
    cursor: pointer;
    color: #d9a74a;
    transition: color 0.3s;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    }

    .home-button:hover {
    color: #1e7d0e;
    }

    .fa-home {
    font-size: 4vw;
    }
</style>
<div class="home-button">
    <a href="" style="display: flex; align-items: center; color: inherit; text-decoration: none; -webkit-text-stroke-color: inherit">
        Domov&nbsp;&nbsp;<i class="fa fa-home" aria-none="true"></i>
    </a>
</div>