.main-view {
    width: 100%; 
    height: 100%;
    margin-top: 7vh;
    top: 0; 
    left: 0; 
    position: fixed; 
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
}

.main-title {
    position: relative;
    font-size: 5vh;
    color: var(--invitationHeaderColor);
    font-family: var(--fontFamily);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.story-text {
    position: relative;
    margin-top: 5vh;
    font-size: 4vh;
    font-family: var(--fontFamily);
    line-height: 4vh;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-bottom: 10vh;
}

.image-together {
    width: 20vh;
    height: auto;
    position: absolute;
    border-radius: 2vh;
    box-shadow: 5px 5px 5px 5px;
    opacity: 0.4;
}

.image-left {
    top: 60vh; left: 17vw; rotate: -10deg;
}

.image-right {
    top: 20vh; right: 17vw; rotate: 10deg;
}