
.title-names-header {
    position: absolute;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    background-color: rgb(255, 253, 147);
    box-shadow: 0px 0px 8px 8px rgb(0 0 0 / 15%);
    width: 35vh;
    border-radius: 0px 0px 6vh 6vh;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 auto;
    margin: 0 auto;
    top: 0vh;
}

.menu-wrapper-names-header {
    text-align: center;
    transition: max-height 1s;
    max-height: 0;
    overflow: hidden;
    line-height: 4.25vh;
}

.menu-wrapper-names-header li {
    list-style-type: none;
}

.menu-wrapper-names-header a {
    text-decoration: none;
    color: rgb(218, 98, 12);
    font-family: 'Lobster';
    font-size: 2.5vh;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    visibility: visible;
}

.option-decor {
    color: rgb(189, 29, 29);
    visibility: hidden;
    font-size: 2.5vh;
}

.option-decor:hover {
    visibility: visible;
}

.title-names-header p {
    margin: 0;
    margin-bottom: 1vh;
    padding: 0;
    font-family: 'Lobster';
    font-size: 4vh;
    color: #d9a74a;
}

.menu-title {
    font-size: 4vh; 
    margin-bottom: 1vh;
}

@keyframes header-slide {
    50% { max-height: 50vh; }
    100% { max-height: 0vh; }
}
