
.frame-upload {
    font-family: var(--fontFamily);
    -webkit-text-stroke-color: black;
    position: fixed;
    top: 20vh; 
    left: 0;
    right: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button-wrapper {
    width: max-content;
    height: auto;
}

.add-button {
    width: max-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    transition: color 0.3s;
}

.add-button:hover {
    color: gray;
}

.hidden-add-button {
    width: 10vw;
    height: 10vw;
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }

  .fa-camera-retro {
    position: relative; 
    font-size: 10vw;
  }

  .upload-image-info {
    text-align: center;
    font-size: 4vw;
    margin-bottom: -2vw;
  }

.upload-button {
  background-color: black;
  border-radius: 1.5vw;
  border-style: solid;
  color: white;
  cursor: pointer;
  font-family: var(--fontFamily);
  font-size: 3vw;
  height: auto;
  padding: 2vw;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 0;
}

.upload-button:hover,
.upload-button:focus {
  background-color: white;
  color: olive;
}

.add-photo-label {
  position: absolute;
  font-family: var(--fontFamily);
  font-weight: bolder;
  font-size: 1.2vw;
  top: 1.6vw;
  right: 1.2vw;
}