.main-view {
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0; 
    position: fixed; 
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center;
}

.main-title { 
    margin-top: 10vh;
    position: relative;
    font-size: 4vh;
    color: var(--invitationHeaderColor);
    font-family: var(--fontFamily);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.story-text {
    position: relative;
    font-size: 4vh;
    font-family: var(--fontFamily);
    line-height: 3vh;
    margin-left: 10vw;
    margin-right: 10vw;
}


input[type=company-name] {
    width: auto;
    height: auto;
    font-size: 3vh;
    font-family: var(--fontFamily);
    border-radius: 1vh;
    padding: 0.5vh 1vh;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.submit-button-company {
    background-color: black;
    border-radius: 1.5vh;
    border-style: solid;
    color: white;
    cursor: pointer;
    font-size: 3vh;
    font-family: var(--fontFamily);
    height: auto;
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 5vh;
}

.company-name-form {
    text-align: center; 
    position: relative;
    top: 40vh;
}

.submit-button-company:hover,
.submit-button-company:focus {
    background-color: white;
    color: olive;
}