
.frame-invitation-header {
    font-family: 'Lobster';
    -webkit-text-stroke-color: black;
    line-height: 2vh;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
    justify-content: center;
    top: 30vh;
    display: flex;
}

.frame-invitation-header p {
    margin: 0;
    padding: 0;
}

.frame-invitation-header a {
    text-decoration: none;
}

.wrapper-invitation-header {
    font-size: 5vh;
    text-align: center;
    line-height: 6vh;
    color: rgb(218, 98, 12);
    -webkit-text-stroke-width: 0.5px;
}

.details-invitation-header {
    font-size: 1vh; 
    color: rgb(218, 98, 12);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    transition: color 0.3s;
  }

  .details-invitation-header:hover {
    color: rgb(36, 184, 17);
  }